-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

Format: 1.8
Date: Fri, 22 Jun 2016 18:27:00 +0200
Source: ctt-vts-tools
Binary: ctt-vts-tools ctt-vts-tools-dbg
Architecture: amd64
Version: 0.1
Distribution: citationtech-wheezy
Urgency: low
Maintainer: Vaclav Blazek <vaclav.blazek@citationtech.net>
Changed-By: Vaclav Blazek <vaclav.blazek@citationtech.net>
Description: 
 ctt-vts-tools - VTS Tools
 ctt-vts-tools-dbg - Debug Symbols for ctt-vts-tools
Changes: 
 ctt-vts-tools (0.1) citationtech-wheezy; urgency=low
 .
   * Initial build.
Checksums-Sha1: 
 3c28d3dc4128e2ff2aaec0826d9aa5307b229515 4908446 ctt-vts-tools_0.1_amd64.deb
 c2d0c7ae0f932cd897b88f1339d160f3abaf24bf 100154108 ctt-vts-tools-dbg_0.1_amd64.deb
Checksums-Sha256: 
 ee1912d187800524486397d3eee29bfa6a59e7230221039b9453d192d084f014 4908446 ctt-vts-tools_0.1_amd64.deb
 eb3dc9bb1198dbe1f9b2b57f93880276a8e61272a5accb3a3ebb90aeb94a8e3a 100154108 ctt-vts-tools-dbg_0.1_amd64.deb
Files: 
 ee27c711667f94a628d5fcbcb6deb806 4908446 non-free/citationtech extra ctt-vts-tools_0.1_amd64.deb
 966ed610722d6ef9ddc3b2a8e66aa6c7 100154108 non-free/citationtech extra ctt-vts-tools-dbg_0.1_amd64.deb

-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1.4.12 (GNU/Linux)

iQEcBAEBAgAGBQJXas+bAAoJELOtx7OkxJ+8u24H/3HxhyR+Nl2mcZChGIUwCmFs
9zKauUxyuFCCZa3hWOz7khD7KJrfGBVnWSPon1vf07l05DGquoBOVOeR0NOjqG/l
DxAJps/2sepLi6WzSKKMUWpk3rmvLl4vM5qlIhPknchE/bnLb5IPSTrTtaXHwRFN
a7KZbL/ku8OcsUFeLYcgyK9+Ntm2Vm+vhOvHCnBP3V+vie72Bc+1ytKgoa2YMM0Q
fLLGlvvVXdprCFzsKbuPtoz+Nq9yy1j97FXr0wIyy0f4y+6OSm0XYko1hKDPts5/
jOmYHPIU0aLnCEhRjEwq0zVfGPddcKkzpqfpoNwcQvkVj/U8yPyTz5EL+OP1BnI=
=Vplp
-----END PGP SIGNATURE-----
*.changes
*.deb
*.upload
