[submodule "externals/buildsys/common"]
	path = externals/buildsys/common
	url = https://github.com/melowntech/buildsys-common.git
[submodule "externals/buildsys/cmake"]
	path = externals/buildsys/cmake
	url = https://github.com/melowntech/buildsys-cmake.git
[submodule "externals/libdbglog"]
	path = externals/libdbglog
	url = https://github.com/melowntech/libdbglog.git
[submodule "externals/libutility"]
	path = externals/libutility
	url = https://github.com/melowntech/libutility.git
[submodule "externals/libgeo"]
	path = externals/libgeo
	url = https://github.com/melowntech/libgeo.git
[submodule "externals/libimgproc"]
	path = externals/libimgproc
	url = https://github.com/melowntech/libimgproc.git
[submodule "externals/libjsoncpp"]
	path = externals/libjsoncpp
	url = https://github.com/melowntech/libjsoncpp.git
[submodule "externals/libmath"]
	path = externals/libmath
	url = https://github.com/melowntech/libmath.git
[submodule "externals/libservice"]
	path = externals/libservice
	url = https://github.com/melowntech/libservice.git
[submodule "externals/libgeometry"]
	path = externals/libgeometry
	url = https://github.com/melowntech/libgeometry.git
[submodule "externals/libvef"]
	path = externals/libvef
	url = https://github.com/melowntech/libvef.git
[submodule "externals/libroarchive"]
	path = externals/libroarchive
	url = https://github.com/melowntech/libroarchive.git
[submodule "externals/half"]
	path = externals/half
	url = https://github.com/melowntech/half.git
[submodule "externals/gdal-drivers"]
	path = externals/gdal-drivers
	url = https://github.com/melowntech/gdal-drivers.git
[submodule "externals/libhttp"]
	path = externals/libhttp
	url = https://github.com/melowntech/libhttp.git
[submodule "externals/vts-libs"]
	path = externals/vts-libs
	url = https://github.com/melowntech/vts-libs.git
[submodule "externals/libslpk"]
	path = externals/libslpk
	url = https://github.com/melowntech/libslpk.git
[submodule "externals/libminiball"]
	path = externals/libminiball
	url = https://github.com/melowntech/libminiball
[submodule "externals/liblodtree"]
	path = externals/liblodtree
	url = https://github.com/melowntech/liblodtree.git
[submodule "externals/lib3dtiles"]
	path = externals/lib3dtiles
	url = https://github.com/melowntech/lib3dtiles.git
[submodule "externals/libgltf"]
	path = externals/libgltf
	url = https://github.com/melowntech/libgltf.git
