m4_dnl ###############################################################
m4_dnl ## Build dependencies
m4_dnl ###############################################################
m4_dnl
m4_define({{{VAR_BuildDepends}}},{{{debhelper (>= 9.20150101+deb8u2), libboost1.55-all-dev
    , libopencv-core-dev (>= 2.4.9)
    , libopencv-highgui-dev (>= 2.4.9)
    , libopencv-photo-dev (>= 2.4.9)
    , libopencv-imgproc-dev (>= 2.4.9)
    , libeigen3-dev (>= 3.1.0-1)
    , libgdal-dev (>= 2.1), libproj-dev (>= 4.9)
    , libgeographic-dev (>= 1.37-3)
    , libjsoncpp-dev (>= 1.7.2)
    , libmagic-dev (>= 5.25)
    , libcurl4-openssl-dev (>= 7.38.0-4+deb8u4)
    , gawk}}})m4_dnl
